.body {
    background-image: url("../img/background.svg");
    background-color: #0b080f;
    color: white;
    font-family: 'Space Mono', monospace;
}

.text-title {
    font-size: 45px;
    font-weight: bold;
    font-family: 'Space Mono', monospace;
    text-align: left;
    margin-top: 30px;
    margin-left: 50px;
}

.text {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Space Mono', monospace;
    text-align: left;
    margin-top: 30px;
    margin-left: 50px;
    
}

.text-link {
    color: #ff1782;
    text-decoration: none;
}

.text-link:hover {
    color: #fa50a0;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    text-shadow: 0 0 9px #ff1782;
}

.logo   {
    width: 70px;
    height: 70px;
    position: fixed;
    top: 0px;
    left: 550px;
}

/* Handy */
@media only screen and (min-width: 320px) {
    .body {
        background-image: url("../img/background.svg");
        background-color: #0b080f;
        color: white;
        font-family: 'Space Mono', monospace;
    }
    
    .text-title {
        font-size: 35px;
        font-weight: bold;
        font-family: 'Space Mono', monospace;
        text-align: left;
        margin-top: 30px;
        margin-left: 50px;
    }
    
    .text {
        font-size: 15px;
        font-weight: bold;
        font-family: 'Space Mono', monospace;
        text-align: left;
        margin-top: 30px;
        margin-left: 50px;
        
    }
    
    .text-link {
        color: #ff1782;
        text-decoration: none;
    }
    
    .text-link:hover {
        color: #fa50a0;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        text-shadow: 0 0 9px #ff1782;
    }
    
    .logo   {
        width: 20px;
        height: 20px;
        position: fixed;
        top: 250px;
        left: -46px;
    }
}

/* Breite Handys */
@media only screen and (min-width: 480px) {
    .body {
        background-image: url("../img/background.svg");
        background-color: #0b080f;
        color: white;
        font-family: 'Space Mono', monospace;
    }
    
    .text-title {
        font-size: 45px;
        font-weight: bold;
        font-family: 'Space Mono', monospace;
        text-align: left;
        margin-top: 30px;
        margin-left: 50px;
    }
    
    .text {
        font-size: 25px;
        font-weight: bold;
        font-family: 'Space Mono', monospace;
        text-align: left;
        margin-top: 30px;
        margin-left: 50px;
        
    }
    
    .text-link {
        color: #ff1782;
        text-decoration: none;
    }
    
    .text-link:hover {
        color: #fa50a0;
        text-decoration: none;
        font-weight: bold;
        font-size: 26px;
        text-shadow: 0 0 9px #ff1782;
    }
    
    .logo   {
        width: 20px;
        height: 20px;
        position: fixed;
        top: 390px;
        left: -25px;
    }
}

/* Desktop */
@media only screen and (min-width: 1280px) {
    .body {
        background-image: url("../img/background.svg");
        background-color: #0b080f;
        color: white;
        font-family: 'Space Mono', monospace;
    }
    
    .text-title {
        font-size: 45px;
        font-weight: bold;
        font-family: 'Space Mono', monospace;
        text-align: left;
        margin-top: 30px;
        margin-left: 50px;
    }
    
    .text {
        font-size: 25px;
        font-weight: bold;
        font-family: 'Space Mono', monospace;
        text-align: left;
        margin-top: 30px;
        margin-left: 50px;
        
    }
    
    .text-link {
        color: #ff1782;
        text-decoration: none;
    }
    
    .text-link:hover {
        color: #fa50a0;
        text-decoration: none;
        font-weight: bold;
        font-size: 26px;
        text-shadow: 0 0 9px #ff1782;
    }
    
    .logo   {
        width: 70px;
        height: 70px;
        position: fixed;
        top: 0px;
        left: 550px;
    }
}